@charset "UTF-8";

@media screen and (max-width:1199px) {
    #containerLinksTop3{
        justify-content: center;
    }
}

@media screen and (max-width:1107px) {

    #conteudosHeader{
    justify-content: center;

    align-items: center;
    }

    .frasesHeaderL{
        text-align: center;
    }

    .frasesHeaderR{
        text-align: center;
        margin-top: 30px;
    }

    #orcamento{
            align-self: center;
        }
}

@media screen and (max-width:991px){
    #containerLinksTop3{
        justify-content: none;
        margin-right: 100px;
    }
}

@media screen and (max-width:769px){
    .card-list .card-link .card-image{
    object-fit: contain;
    }

    .card-list .card-item .card-link{
        height: 400px;
    }

    .card-list-clientes .card-item-clientes .card-link-clientes{
    margin: auto !important;
    }

    .card-list-clientes .card-item-clientes{
        padding-right: 50px;
    }

    .card-wrapper-clientes, .card-wrapper{
        margin: 0 10px 25px;
    }

    #containerLinksTop3{
        justify-content: none;
        margin-right: 40px;
    }

        .imgTop3{
        width: 200px;
        margin-left: 100px;
    }

    #h2Top1{
        left: 50px;
    }

    .h2Top3{
        left: 30px;
    }

    .cardOutrosServicos{
        justify-content: center;
        flex-wrap: wrap;
    }

    .cardColaboradores{
    width: 250px;
}

    .imgColaboradores{
    width: 250px;
    }

    #containerSolicitacaoOrcamento{
    width: 300px;
    height: 150px;
    }

    #solicitacaoOrcamentoLink{
        font-size: 1.4em;
    }

    #solicitacaoOrcamentoLink:hover{
        font-size: 1.5em;
    }
}

@media screen and (max-width:602px) {

    #Logo{
        width: 380px;
    }

    .frasesHeaderL{
        margin: 0px;
    }

    #buttonClientes{
        top: 50%;
        right: 20px;
    }

    .card-wrapper-clientes{
        padding-left: 40px;
    }

    h1{
    font-size: 1.8em !important;
    }

    .card-list .card-item .card-link{
        width: 250px;
        margin: auto;
    }

    .card-wrapper .swiper-slide-button, .card-wrapper-clientes .swiper-slide-button{
    width: 55px;
    height: 55px;
    top: 30px;
    right: 30px;
    }

    .card-list-clientes .card-item-clientes .card-link-clientes{
    width: 170px;
    height: 170px;
    }

    .h2Top3{
        font-size: 8em;
    }

    .cardOutrosServicos{
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .imgOutrosServicos{
    width: 250px;

    border-radius: 10px;

    margin: 10px;
    }

    .fraseOutrosServicos{
        font-size: 1.6em;
    }
}