@charset "UTF-8";

@media screen and (max-width:1107px) {

    #conteudosHeader{
    justify-content: center;

    align-items: center;
    }

    .frasesHeaderL{
        text-align: center;
    }

    .frasesHeaderR{
        text-align: center;
        margin-top: 30px;
    }

    #orcamento{
            align-self: center;
        }
    }

@media screen and (max-width:768px){
    .card-list .card-link .card-image{
    object-fit: contain;
    }

    .card-list .card-item .card-link{
        height: 400px;
    }

    .card-list-clientes .card-item-clientes .card-link-clientes{
    margin: auto !important;
    }

    .card-list-clientes .card-item-clientes{
        padding-right: 50px;
    }

    .card-wrapper-clientes, .card-wrapper{
        margin: 0 10px 25px;
    }
}

@media screen and (max-width:602px) {

    #Logo{
        width: 380px;
    }

    .frasesHeaderL{
        margin: 0px;
    }

    #buttonClientes{
        top: 50%;
        right: 20px;
    }

    .card-wrapper-clientes{
        padding-left: 40px;
    }

    h1{
    font-size: 1.8em !important;
    }

    .card-list .card-item .card-link{
        width: 250px;
        margin: auto;
    }

    .card-wrapper .swiper-slide-button, .card-wrapper-clientes .swiper-slide-button{
    width: 55px;
    height: 55px;
    top: 30px;
    right: 30px;
    }

    .card-list-clientes .card-item-clientes .card-link-clientes{
    width: 170px;
    height: 170px;
}
}