@charset "UTF-8";

/*configs gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*variaveis de cor*/
:root{
    --corFundoGeral: #282a29;
    --Branco: white;
}

/*animacoes*/
@keyframes btnorcamento{
    0%{transform: translateY(0);}
    50%{transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}

#whatsappFix{
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 10px;

    width: 70px;

    z-index: 1;
}


/*Começo elementos do header*/
header{
    position: relative;

    background-image: linear-gradient(to top, var(--corFundoGeral) 8%, transparent);
}

video{
    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: -1;

    position: absolute;
}

#conteinerConteudoHeader{
    width: 80%;

    margin-top: 50px;
    margin-bottom: 50px;
}

#conteudosHeader{
    width: 100%;

    justify-content: space-between;
}

.frasesHeaderL{
    padding: 10px;
}

.frasesHeaderR{
    padding: 10px;
}

.h2Header{
    color: var(--Branco);

    font-weight: 700;
    font-size: 1.6em;
}

.pHeader{
    color: var(--Branco);
    
    font-weight: 200;
    font-size: 1.4em;
}

#orcamento{
    color: var(--Branco);
    background-color: var(--corFundoGeral);

    padding: 10px;

    border-radius: 5px;

    box-shadow: 1px 1px 8px var(--Branco);

    text-decoration: none;

    font-weight: 500;

    align-self: self-start;
}

#orcamento:hover{
    animation: btnorcamento infinite 3s;

    box-shadow: 1px 1px 12px var(--Branco);
}

/*fim dos elementos do header*/

