@charset "UTF-8";

/*configs gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*variaveis de cor*/
:root{
    --corFundoGeral: #282a29;
    --Branco: white;
}

/*animacoes*/
@keyframes btnorcamento{
    0%{transform: translateY(0);}
    50%{transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}

/* // */

body{
    background-color: var(--corFundoGeral) !important;
}


/*Icone do whatsapp fixado*/
#whatsappFix{
    position: fixed;
    bottom: 0;
    right: 0;

    margin: 10px;

    width: 70px;

    z-index: 2;
}

#whatsappFix:hover{
    bottom: 5px;
    right: 5px;

}


/*Começo elementos do header*/
header{
    position: relative;

    background-image: linear-gradient(to top, var(--corFundoGeral) 8%, transparent);
}

video{
    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: -1;

    position: absolute;
}

#conteinerConteudoHeader{
    width: 80%;

    margin-top: 50px;
    margin-bottom: 50px;
}

#conteudosHeader{
    width: 100%;

    justify-content: space-between;
}

.frasesHeaderL{
    padding: 10px;
}

.frasesHeaderR{
    padding: 10px;
}

.h2Header{
    color: var(--Branco);

    font-weight: 700;
    font-size: 1.6em;
}

.pHeader{
    color: var(--Branco);
    
    font-weight: 200;
    font-size: 1.4em;
}

#orcamento{
    color: var(--Branco);
    background-color: var(--corFundoGeral);

    padding: 10px;

    border-radius: 5px;

    box-shadow: 1px 1px 8px var(--Branco);

    text-decoration: none;

    font-weight: 500;

    align-self: self-start;
}

#orcamento:hover{
    animation: btnorcamento infinite 3s;

    box-shadow: 1px 1px 12px var(--Branco);
}

/*fim dos elementos do header*/

/*inicio section swiper serviços*/

#servicos{
    padding: 20px;

    border-bottom: 1px solid white;
}

.card-wrapper{
    max-width: 1200px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item{
    list-style-type: none;
}

.card-list .card-item .card-link{
    user-select: none;
    display: block;
    background-color: #1c1d1ce1;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.05);
    transition: 0.2s ease;
    height: 500px;
}

.card-list .card-item .card-link:active{
    cursor: grabbing;
}

.card-list .card-item .card-link:hover{
    border-color: white;
}

.card-list .card-link .card-image{
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}


.card-wrapper .swiper-slide-button{
    color: white;
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: 30px;
    right: 30px;
    border: 2px solid white;
}

.card-wrapper .swiper-slide-button:hover{
    box-shadow: 0px 1px 5px var(--Branco);
}

/*media screen para ajustar ao diminuir as telas*/
@media screen and (max-width: 768px){
    .card-wrapper{
        margin: 0 10px 25px;
    }
}

/*fim section swiper serviços*/

/*inicio section swiper clientes*/
#clientes{
    margin-top: 20px;
}

.card-wrapper-clientes{
    max-width: 1200px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list-clientes .card-item-clientes{
    list-style-type: none;
}

.card-list-clientes .card-item-clientes .card-link-clientes{
    user-select: none;
    display: block;
    text-decoration: none;
    transition: 0.2s ease;
}

.card-list-clientes .card-item-clientes .card-link-clientes:active{
    cursor: grabbing;
}

.card-list-clientes .card-item-clientes .card-link-clientes:hover{
    border-color: white;
}

.card-list-clientes .card-link-clientes .card-image-clientes{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.card-wrapper-clientes .swiper-slide-button{
    color: white;
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: 25px;
    right: 30px;
    border: 2px solid white;
}

.card-wrapper-clientes .swiper-slide-button:hover{
    box-shadow: 0px 1px 5px var(--Branco);
}

/*media screen para ajustar ao diminuir as telas*/
@media screen and (max-width: 768px){
    .card-wrapper-clientes{
        margin: 0 10px 25px;
    }
}